.addPetForm {
  width: 35em;
  text-align: left;
  margin-left: 1%;
}

.NewReport input{
  height: 30px;
  width:35em;
  margin: 2%;
  border-radius: 3px;
}

.details {
  color: white;
  font-family: sans-serif;
  width: 10%;
}

.dummyCalendar {
  width: 100%;
  border: 1px solid red;
}
