@import "_home";
@import "_report-list";
@import "_show-report";
@import "_add-report";

body {
  background-color: gray;
}

a {
  color: white;
  text-decoration: none;
}

.addButton {
  background-color: black;
  height:50%;
  width: 25%;
  display: block;
  margin-left: 75%;
  position: absolute;
  top: 50%;
  text-align: center;
    font-size: 40px;
    padding-top: 5%;
}

.listButton{
  background-color: black;
  height:50%;
  width: 25%;
  display: block;
  margin-left: 75%;
  position: absolute;
  top: 0%;
  text-align: center;
    font-size: 40px;
        padding-top: 5%;
}

.showButton{
  background-color: black;
  height:50%;
  width: 25%;
  display: block;
  position: absolute;
  top: 50%;
  text-align: center;
    font-size: 40px;
        padding-top: 5%;
}

.indexButton {
  background-color: black;
  height:50%;
  width: 25%;
  display: block;
  margin-left: 0%;
  position: absolute;
  top: 0%;
    text-align: center;
    font-size: 40px;
        padding-top: 5%;
}

.navbar {
  background-color: black;
  width: 50%;
  height: 10%;
  display: block;
  text-align: center;
  margin-left: 25%;
  margin-top: 2%;
  font-family: sans-serif;
  z-index: 1;
  color: white;
  font-size: 55px;

}

 .injectable-view{
   background-color: gray;
   position: absolute;
   width: 25%;
   height: 100%;
   right: 25%;
  left: 25%;
  text-align: center;

 }

 .fa{
   font-size:120px;
margin-top: 10%;
text-align: center;
 }
