<div class="addPetForm " ng-controller="AdminController as admin">
  <h1> Add a New Report </h1>
<form class="NewReport">
    <input type="text" name="saveShowName"></input>
    <span class="details">Show Name</span><br>
​
    <input type="text" name="saveRehearsalDate"></input>
    <span class="details">Rehearsal Date</span><br>
​
    <input type="text" name="saveSM" id="NewPetBreed"></input>
    <span class="details">Stage Manager</span><br>
​
    <input type="text" name="saveDirector" id="NewPetPrice"></input>
    <span class="details">Director</span><br>
​
    <input type="text" name="saveProps" id="newPetActivity"></input>
    <span class="details">Props</span><br>
​
    <input type="text" name="saveCostumes" id="NewPetSnack"></input>
    <span class="details">Costumes</span><br>
​
    <input type="text" name="saveLights" id="newPetDescription"></input>
    <span class="details">Lights</span><br>

    <input type="text" name="saveSound" id="newPetDescription"></input>
    <span class="details">Sound</span><br>

    <input type="text" name="saveRunTime" id="newPetDescription"></input>
    <span class="details">Run Time</span><br>

    <input type="text" name="saveGeneral" id="newPetDescription"></input>
    <span class="details">General</span><br>


<input type="submit" class="saveReport" value="Add Report">

  </form>
</div>
